<template>
	<header class="site-header">
		<div class="container">
			<Logo />
			<!-- nested component SiteSearch -->
			<HeaderNav />
		</div>
	</header>
</template>

<script>
export default {
	name: 'Header'
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $dark;
	height: 60px;
	box-shadow: 0px 4px 8px 5px rgba(#ffac46, 0.1);

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media #{$large} {
		height: 70px;
	}
}
</style>
