<template>
	<main class="site-main">
		<div class="container pt-64">
			<div class="slide-wrapper">
				<VueSlickCarousel v-bind="settings">
					<div v-for="i of 8" :key="i" class="item">
						<div class="img-wrapper">
							<img src="~assets/img/emoji-1.png" alt="" />
						</div>
					</div>
				</VueSlickCarousel>
			</div>
		</div>
	</main>
</template>

<script>
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
export default {
	data() {
		return {
			settings: {
				centerMode: true,
				centerPadding: '20px',
				focusOnSelect: true,
				infinite: true,
				autoplay: true,
				slidesToShow: 3,
				speed: 500,
				autoplaySpeed: 2000,
				arrows: false
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.site-main {
	color: $white;
}
.slide-wrapper {
	.item {
		width: 100%;
	}

	.img-wrapper {
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 9999px;
		}
	}
}
</style>
