<template>
	<main class="site-main">
		<div class="container pv-32">
			<div class="flex flex-row col-gap-12 mb-32 f-14">
				<span>View other: &nbsp;</span>
				<nuxt-link to="/leaflet/popup">Custom Popup</nuxt-link>
				<nuxt-link to="/leaflet/cluster-map">Cluster Maps</nuxt-link>
			</div>
			<div class="map-wrapper mt-16">
				<client-only>
					<LMap :zoom="5" :center="[-3, 119]">
						<!-- <LGeoJson
							:geojson="geojson"
							:optionsStyle="styleGeoJson"
						></LGeoJson> -->
						<LTileLayer
							url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
						></LTileLayer>
					</LMap>
				</client-only>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			geojson: null,
			styleGeoJson: {
				weight: 0,
				fillColor: '#00e1ff',
				opacity: 1
			}
		}
	},
	async created() {
		await this.$axios
			.get(`/json/indonesia-en.geojson`)
			.then(res => {
				this.geojson = res.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	methods: {}
}
</script>

<style lang="scss" scoped>
.map-wrapper {
	height: 500px;
	width: 100%;
	padding: 16px;
	border-radius: 8px;
	background-color: #222222;
}
:deep(.leaflet-tile) {
	filter: hue-rotate(45deg) !important;
}
</style>
