<template>
	<main class="site-main">
		<div class="container">
			<gsapInstallation />
			<gsapBasic />
			<h1 class="mt-32">Another Example</h1>
			<gsapTweenedNumber />
			<gsapTweenedNumberScrollTrigger />
			<gsapAnimateText />
			<gsapImageComparation />
			<gsapSeparatedCode />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			number: 0,
			tweenedNumber: 0,
			tweenedNumber1: 0
		}
	},
	watch: {
		number(newValue) {
			this.tween(newValue)
		}
	},
	mounted() {
		this.$gsap.to(this.$refs.box, {
			scrollTrigger: {
				trigger: this.$refs.trigSection,
				start: 'top 50%',
				end: 'top 50%',
				markers: false,
				onEnter: this.increaseCount1
			}
		})
	},
	methods: {
		increaseCount() {
			this.number += 100
		},
		increaseCount1() {
			this.$gsap.to(this.$data, {
				duration: 2,
				ease: 'circ.out',
				tweenedNumber1: 100,
				onUpdate: this.updateNumber
			})
		},
		updateNumber() {
			this.animatedNumber = Math.round(this.animatedNumber)
		},
		tween(number) {
			this.$gsap.to(this.$data, {
				duration: 2,
				ease: 'circ.out',
				tweenedNumber: number
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.section-1,
.section-2 {
	height: 100vh;
}

.btn {
	background: #22a4cd;
	color: #fff;
	border-radius: 4px;
}
.box {
	width: 100px;
	height: 100px;
	background-color: red;
}
::v-deep .hljs {
	background: $black80;
	border-radius: 4px;
	margin: 0;
	height: fit-content;
}
pre {
	margin: 0;
	height: fit-content;
}
::v-deep code {
	margin: 0;
	padding: 0;
}
</style>
