<template>
	<div class="dropdown">
		<button
			class="form-input flex pl-16 pr-16"
			@click="show"
			@focusout="isShow = false"
		>
			<span :class="active === '' || active === null ? 'text-grey' : ''">{{
				active === '' || active === null ? placeholder : active
			}}</span>

			<i
				v-if="active === '' || active === null || !deleteBtn"
				class="bzi-angle-down ml-auto"
			></i>
			<i v-else class="bzi-close ml-auto" @click="reset"></i>
			<div class="dropdown-list" :class="isShow ? '' : 'hidden'">
				<ul>
					<li v-for="item in list" :key="item" @click="changeFunc(item)">
						{{ item }}
					</li>
				</ul>
			</div>
		</button>
	</div>
</template>

<script>
export default {
	props: {
		placeholder: {
			type: String,
			default: ''
		},
		active: {
			type: String,
			default: ''
		},
		list: {
			type: Array,
			default: () => []
		},
		deleteBtn: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isShow: false
		}
	},
	methods: {
		show() {
			this.isShow = !this.isShow
		},
		changeFunc(item) {
			this.$emit('clicked', item)
			this.isShow = false
			this.show()
		},
		reset() {
			this.changeFunc('')
			this.show()
		}
	}
}
</script>

<style lang="scss" scoped>
.dropdown {
	position: relative;
	button {
		min-width: 200px;
	}
	&-list {
		position: absolute;
		bottom: 38px;
		width: 100%;
		z-index: 10;
		background: transparent;
		left: 0;
		top: 52px;
		width: 200px;

		ul {
			border-radius: 4px;
			list-style: none;
			padding-left: 0;
			background: white;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
			max-height: 160px;
			overflow-y: auto;
			li {
				border-radius: 4px;
				padding: 12px 24px;
				background: white;
				&:hover {
					background: #ffece7;
					cursor: pointer;
				}
			}
		}
	}
}
.ml-auto {
	margin-left: auto;
}
</style>
