<template>
	<div>
		<section class="relative">
			<div class="code">
				<pre v-highlightjs class="f-12"><code>
&lt;div class=&quot;circle&quot;&gt;&lt;/div&gt;
&lt;button class=&quot;btn&quot; @click=&quot;animateFrom&quot;&gt;Play&lt;/button&gt;

methods:{
    animateFrom(){
        this.$gsap.from('.circle', {
            x: x.value,
            duration: 1,
            ease: 'ease.in'
        })
    }
}
            </code></pre>
				<p>
					The gsap.from() function in GSAP is similar to gsap.to(), but instead
					of animating an element's properties from their current values to a
					target state, it animates the element by starting from a specified
					initial state and transitioning to its current state.
				</p>
			</div>
			<div class="relative ph-32">
				<div class="flex flex-row col-gap-12 v-end">
					<div class="flex flex-col row-gap-8">
						<label>Insert initial x value:</label>
						<input v-model="x" type="number" class="form-input" />
					</div>
					<button class="btn" @click="animateFrom">Play</button>
					<button class="btn" @click="reset">reset</button>
				</div>
				<div class="circle"></div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			x: 300
		}
	},
	methods: {
		animateFrom() {
			this.$gsap.from('.circle', {
				x: this.x,
				duration: 1,
				ease: 'ease.in'
			})
		},
		reset() {
			this.$gsap.to('.circle', {
				x: 0,
				y: 0,
				duration: 1
			})
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	min-height: 40vh;
	display: grid;
	gap: 24px;
	position: relative;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.container {
	height: 100%;
}

.btn {
	height: fit-content;
	border-radius: 4px;
}

.circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 30%;
}
</style>
