<template>
	<section class="konsul-section relative pv-32">
		<h3>Text Animation</h3>
		<div class="flex flex-row">
			<h3>Ciptakan Senyum</h3>
			<div class="konsul-word-container">
				<div class="konsul-word-item">
					<h3>Indahmu</h3>
				</div>
				<div class="konsul-word-item">
					<h3>Percaya Dirimu</h3>
				</div>
				<div class="konsul-word-item">
					<h3>Sempurnamu</h3>
				</div>
				<div class="konsul-word-item">
					<h3>Sehatmu</h3>
				</div>
			</div>
		</div>

		<div class="code">
			<pre v-highlightjs class="f-12"><code>
&lt;div class=&quot;flex flex-row&quot;&gt;
    &lt;h3&gt;Ciptakan Senyum&lt;/h3&gt;
    &lt;div class=&quot;konsul-word-container&quot;&gt;
        &lt;div class=&quot;konsul-word-item&quot;&gt;
            &lt;h3&gt;Indahmu&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;konsul-word-item&quot;&gt;
            &lt;h3&gt;Percaya Dirimu&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;konsul-word-item&quot;&gt;
            &lt;h3&gt;Sempurnamu&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class=&quot;konsul-word-item&quot;&gt;
            &lt;h3&gt;Sehatmu&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

mounted() {
    const gsap = this.$gsap
    const targets = gsap.utils.toArray('.konsul-word-item')
    const offset = -100
    const max = -(targets.length - 1) * offset

    gsap.set(targets, {
        yPercent: i => {
            return i * offset
        }
    })

    function goAgain() {
        gsap.to(targets, 0.75, {
            ease: 'back.inOut',
            yPercent: '-=' + offset,
            modifiers: {
                yPercent: value => {
                    return gsap.utils.wrap(offset, max, value)
                }
            },
            onComplete: () => waitForMe.restart(true)
        })
    }

    const waitForMe = gsap.delayedCall(1.2, goAgain)
},

&lt;style lang=&quot;scss&quot; scoped&gt;
.konsul-word {
	&amp;-container {
		position: relative;
		overflow: hidden;
		height: 2.5em;
		min-width: 400px;
		display: block;
		margin-left: 8px;
	}
	&amp;-item {
		position: absolute;
		display: grid;
		border-bottom: 4px solid #69808a;
		height: 3em;
		top: -10px;
		padding-top: 10px;
	}
}
&lt;/style&gt;
            </code>
            </pre>
		</div>
	</section>
</template>

<script>
export default {
	data() {
		return {}
	},
	mounted() {
		const gsap = this.$gsap
		const targets = gsap.utils.toArray('.konsul-word-item')
		const offset = -100
		const max = -(targets.length - 1) * offset

		gsap.set(targets, {
			yPercent: i => {
				return i * offset
			}
		})

		function goAgain() {
			gsap.to(targets, 0.75, {
				ease: 'back.inOut',
				yPercent: '-=' + offset,
				modifiers: {
					yPercent: value => {
						return gsap.utils.wrap(offset, max, value)
					}
				},
				onComplete: () => waitForMe.restart(true)
			})
		}

		const waitForMe = gsap.delayedCall(1.2, goAgain)
	},
	methods: {}
}
</script>

<style lang="scss" scoped>
button {
	border-radius: 4px;
}
.konsul-word {
	&-container {
		position: relative;
		overflow: hidden;
		height: 2.5em;
		min-width: 400px;
		display: block;
		margin-left: 8px;
	}
	&-item {
		position: absolute;
		display: grid;
		border-bottom: 4px solid #69808a;
		height: 3em;
		top: -10px;
		padding-top: 10px;
	}
}
</style>
