<template>
	<div>
		<section class="relative">
			<div class="code">
				<pre v-highlightjs class="f-12"><code>
&lt;div class=&quot;circle&quot;&gt;&lt;/div&gt;
&lt;button class=&quot;btn&quot; @click=&quot;animateFromTo&quot;&gt;Play&lt;/button&gt;

methods:{
    animateFromTo() {
        this.$gsap.fromTo(
            '.circle',
            {
                x: {x.start},
                opacity: 0,
                duration: 1
            },
            {
                x: {x.end},
                opacity: 1,
                duration: 1,
                ease: 'back.out(1.7)'
            }
        )
    },
}
            </code></pre>
				<p>
					It allows you to animate an element by specifying both the initial
					state and the target state of its properties.
				</p>
			</div>
			<div class="relative ph-32">
				<div class="flex flex-row col-gap-12 v-end">
					<div class="flex flex-col row-gap-8">
						<label>Insert initial x value:</label>
						<input v-model="x" type="number" class="form-input" />
					</div>
					<div class="flex flex-col row-gap-8">
						<label>Insert target x value:</label>
						<input v-model="x1" type="number" class="form-input" />
					</div>
					<button class="btn" @click="animateFromTo">Play</button>
					<button class="btn" @click="reset">reset</button>
				</div>
				<div class="circle"></div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			x: -100,
			x1: 300
		}
	},
	methods: {
		animateFromTo() {
			this.$gsap.fromTo(
				'.circle',
				{
					x: this.x,
					opacity: 0,
					duration: 1
				},
				{
					x: this.x1,
					opacity: 1,
					duration: 1,
					ease: 'back.out(1.7)'
				}
			)
		},
		reset() {
			this.$gsap.to('.circle', {
				x: 0,
				y: 0,
				duration: 1
			})
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	min-height: 40vh;
	display: grid;
	gap: 24px;
	position: relative;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.container {
	height: 100%;
}

.btn {
	height: fit-content;
	border-radius: 4px;
}

.circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 30%;
}
</style>
