<template>
	<div>
		<section class="relative">
			<div class="code">
				<pre v-highlightjs class="f-12"><code>
&lt;div class=&quot;circle&quot;&gt;&lt;/div&gt;
&lt;button class=&quot;btn&quot; @click=&quot;animateTimeline&quot;&gt;Play&lt;/button&gt;

methods:{
	animateTimeline() {
		const timeline = this.$gsap.timeline()
		timeline.to('.circle', {
			x: '100',
			duration: 0.5,
			ease: 'sine.inOut'
		})
		timeline.to('.circle', {
			y: '100',
			duration: 0.5,
			ease: 'sine.inOut'
		})
		timeline.to('.circle', {
			x: '-200',
			duration: 1,
			ease: 'sine.inOut'
		})
		timeline.to('.circle', {
			y: '0',
			duration: 0.5,
			ease: 'sine.inOut'
		})
		timeline.to('.circle', {
			x: '0',
			duration: 0.5,
			ease: 'sine.inOut'
		})
	},
}
            </code></pre>
				<p>
					GSAP timeline provides a way to manage the timing and synchronization
					of multiple tweens
				</p>
			</div>
			<div class="relative ph-32">
				<div class="flex flex-row col-gap-12 v-end">
					<button class="btn" @click="animateTimeline">Play</button>
					<button class="btn" @click="reset">reset</button>
				</div>
				<div class="circle"></div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			x: -100,
			x1: 300
		}
	},
	methods: {
		animateTimeline() {
			const timeline = this.$gsap.timeline()
			timeline.to('.circle', {
				x: '400',
				duration: 0.5,
				ease: 'sine.inOut'
			})
			timeline.to('.circle', {
				y: '100',
				duration: 0.5,
				ease: 'sine.inOut'
			})
			timeline.to('.circle', {
				x: '0',
				duration: 1,
				ease: 'sine.inOut'
			})
			timeline.to('.circle', {
				y: '0',
				duration: 0.5,
				ease: 'sine.inOut'
			})
			timeline.to('.circle', {
				x: '0',
				duration: 0.5,
				ease: 'sine.inOut'
			})
		},
		reset() {
			this.$gsap.to('.circle', {
				x: 0,
				y: 0,
				duration: 1
			})
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	min-height: 40vh;
	display: grid;
	gap: 24px;
	position: relative;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.container {
	height: 100%;
}

.btn {
	height: fit-content;
	border-radius: 4px;
}

.circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 30%;
}
</style>
