<template>
	<section>
		<h1>Basic Animation</h1>
		<Dropdown
			placeholder="Kategori Acara"
			:active="animate"
			:list="['animateTo', 'animateFrom', 'animateFromTo', 'animateTimeline']"
			@clicked="changeAnimate"
		/>
		<gsapAnimateTo v-show="animate == 'animateTo'" />
		<gsapAnimateFrom v-show="animate == 'animateFrom'" />
		<gsapAnimateFromTo v-show="animate == 'animateFromTo'" />
		<gsapAnimateTimeline v-show="animate == 'animateTimeline'" />
	</section>
</template>

<script>
export default {
	data() {
		return {
			animate: 'animateTo'
		}
	},
	methods: {
		changeAnimate(type) {
			this.animate = type
		}
	}
}
</script>
