<template>
	<div class="pv-32">
		<h3 class="mb-32">Before After Image</h3>
		<p class="text-small">*source by scrollTrigger demos</p>
		<section class="compare">
			<div class="comparisonSection">
				<div class="comparisonImage beforeImage">
					<img src="~assets/img/before.jpg" alt="before" />
				</div>
				<div class="comparisonImage afterImage">
					<img src="~assets/img/after.jpg" alt="after" />
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import animate from '~/plugins/gsapAnimation/beforeAfter'
export default {
	mounted() {
		animate()
	}
}
</script>

<style lang="scss" scoped>
.comparisonSection {
	position: relative;
	padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
	width: 100%;
	height: 100%;
}
.afterImage {
	position: absolute;
	overflow: hidden;
	top: 0;
	transform: translate(100%, 0px);
}
.afterImage img {
	transform: translate(-100%, 0px);
}
.comparisonImage img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.compare {
	overflow-x: hidden;
	padding-bottom: 10%;
}
</style>
