<template>
	<section class="pv-32">
		<div class="code">
			<h2>BAZE GSAP</h2>
			<p class="m-0">Installation</p>
			<pre v-highlightjs class="f-12"><code>npm i nuxt-gsap-module</code></pre>
			<p class="m-0">nuxt.config.json</p>
			<pre v-highlightjs class="f-12"><code>...
buildModules: [
    'nuxt-gsap-module'
],
...</code></pre>
			<p>Registering extra plugins if needed.</p>
			<pre v-highlightjs class="f-12"><code>...
gsap: {
    extraPlugins: {
        scrollTrigger: true
    }
},
...</code></pre>
		</div>
	</section>
</template>

<style lang="scss" scoped>
section {
	display: grid;
	gap: 24px;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}
</style>
