<template>
	<section>
		<p>
			You can separate the code for animations into .js files to make the code
			more readable. For example, separate the animation code into the directory
			plugins/gsapAnimation/ and call it using the mounted hook.
		</p>
		<pre v-highlightjs class="f-12"><code>
~/plugins/gsapAnimation/beforeAfter

import { gsap } from 'gsap'

function beforeAfterAnimation() {
	const animate = gsap.utils.toArray('.comparisonSection').forEach(section => {
		const tl = gsap.timeline({
			scrollTrigger: {
				trigger: section,
				start: 'center center',
				end: () => '+=' + section.offsetWidth,
				scrub: true,
				pin: true,
				anticipatePin: 1
			},
			defaults: { ease: 'none' }
		})
		tl.fromTo(
			section.querySelector('.afterImage'),
			{ xPercent: 100, x: 0 },
			{ xPercent: 0 }
		).fromTo(
			section.querySelector('.afterImage img'),
			{ xPercent: -100, x: 0 },
			{ xPercent: 0 },
			0
		)
	})
	return animate
}

export default function animate() {
	beforeAfterAnimation()
}
        </code></pre>
		<pre v-highlightjs class="f-12"><code>
~/pages/{pages}

&lt;div class=&quot;pv-32&quot;&gt;
    &lt;h3 class=&quot;mb-32&quot;&gt;Before After Image&lt;/h3&gt;
    &lt;p class=&quot;text-small&quot;&gt;*source by scrollTrigger demos&lt;/p&gt;
    &lt;section class=&quot;compare&quot;&gt;
        &lt;div class=&quot;comparisonSection&quot;&gt;
            &lt;div class=&quot;comparisonImage beforeImage&quot;&gt;
                &lt;img src=&quot;~assets/img/before.jpg&quot; alt=&quot;before&quot; /&gt;
            &lt;/div&gt;
            &lt;div class=&quot;comparisonImage afterImage&quot;&gt;
                &lt;img src=&quot;~assets/img/after.jpg&quot; alt=&quot;after&quot; /&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/section&gt;
&lt;/div&gt;

import animate from '~/plugins/gsapAnimation/beforeAfter'
export default {
	mounted() {
		animate()
	}
}
&lt;style lang=&quot;scss&quot; scoped&gt;
.comparisonSection {
	position: relative;
	padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
	width: 100%;
	height: 100%;
}
.afterImage {
	position: absolute;
	overflow: hidden;
	top: 0;
	transform: translate(100%, 0px);
}
.afterImage img {
	transform: translate(-100%, 0px);
}
.comparisonImage img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.compare {
	overflow-x: hidden;
	padding-bottom: 10%;
}
&lt;/style&gt;
        </code></pre>
	</section>
</template>
<script>
export default {}
</script>

<style lang="scss" scoped></style>
