<template>
	<section>
		<div class="code">
			<h3>Tweened Number with ScrollTrigger</h3>
			<pre v-highlightjs class="f-12"><code>
&lt;div ref=&quot;trigSection&quot;&gt;
    &lt;div class=&quot;p-16 flex flex-col v-center&quot;&gt;
        &lt;span&gt;Scroll Trigger Tween&lt;/span&gt;
        &lt;h1&gt;+{{ tweenedNumber.toFixed(0) }}&lt;/h1&gt;
    &lt;/div&gt;
&lt;/div&gt;
data() {
    return {
        tweenedNumber: 0
    }
},
mounted() {
    this.$gsap.to(this.$refs.trigSection, {
        scrollTrigger: {
            trigger: this.$refs.trigSection,
            start: 'top 50%',
            end: 'top 50%',
            markers: false, //Set it to true if you want to visualize the trigger mark.
            onEnter: this.tween
        }
    })
},
methods: {
    tween() {
        this.$gsap.to(this.$data, {
            duration: 2,
            ease: 'circ.out',
            tweenedNumber: 100,
            onUpdate: this.updateNumber
        })
    },
    updateNumber() {
        this.animatedNumber = Math.round(this.animatedNumber)
    }
}
            </code></pre>
		</div>
		<div class="content mt-32">
			<div ref="trigSection">
				<div class="p-16 flex flex-col v-center">
					<span>Scroll Trigger Tween</span>
					<h1>+{{ tweenedNumber.toFixed(0) }}</h1>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
export default {
	data() {
		return {
			tweenedNumber: 0
		}
	},
	mounted() {
		this.$gsap.to(this.$refs.trigSection, {
			scrollTrigger: {
				trigger: this.$refs.trigSection,
				start: 'top 50%',
				end: 'top 50%',
				markers: false,
				onEnter: this.tween
			}
		})
	},
	methods: {
		tween() {
			this.$gsap.to(this.$data, {
				duration: 2,
				ease: 'circ.out',
				tweenedNumber: 100,
				onUpdate: this.updateNumber
			})
		},
		updateNumber() {
			this.animatedNumber = Math.round(this.animatedNumber)
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	min-height: 40vh;
	display: grid;
	gap: 24px;
	position: relative;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}
</style>
