<template>
	<section class="section-1 pv-32">
		<div class="code">
			<h3>Tweened Number</h3>
			<pre v-highlightjs class="f-12"><code>
&lt;div class=&quot;flex flex-row col-gap-32&quot;&gt;
    &lt;div class=&quot;flex flex-col&quot;&gt;
        &lt;span&gt;Original&lt;/span&gt;
        &lt;h1&gt;{ number }&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div class=&quot;flex flex-col&quot;&gt;
        &lt;span&gt;Tween&lt;/span&gt;
        &lt;h1&gt;{ tweenedNumber.toFixed(0) }&lt;/h1&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;button class=&quot;btn&quot; @click=&quot;increaseCount&quot;&gt;Increase&lt;/button&gt;

data() {
    return {
        number: 0,
        tweenedNumber: 0,
    }
    },
    watch: {
    number(newValue) {
        this.tween(newValue)
    }
    },
    methods: {
    increaseCount() {
        this.number += 100
    },
    tween(number) {
        this.$gsap.to(this.$data, {
            duration: 2,
            ease: 'circ.out',
            tweenedNumber: number
        })
    }
}
            </code></pre>
		</div>
		<div class="content">
			<div class="flex flex-row col-gap-32">
				<div class="flex flex-col">
					<span>Original</span>
					<h1>{{ number }}</h1>
				</div>
				<div class="flex flex-col">
					<span>Tween</span>
					<h1>{{ tweenedNumber.toFixed(0) }}</h1>
				</div>
			</div>
			<button class="btn" @click="increaseCount">Increase</button>
		</div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			number: 0,
			tweenedNumber: 0,
			tweenedNumber1: 0
		}
	},
	watch: {
		number(newValue) {
			this.tween(newValue)
		}
	},
	methods: {
		increaseCount() {
			this.number += 100
		},
		tween(number) {
			this.$gsap.to(this.$data, {
				duration: 2,
				ease: 'circ.out',
				tweenedNumber: number
			})
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	min-height: 40vh;
	display: grid;
	gap: 24px;
	position: relative;
	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}
}
button {
	border-radius: 4px;
}
</style>
